/* Global settings */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  color: white;
  height: 100%;
}

/* Background image section */
.background-image-section {
  background-size: cover;
  background-position: center 50px;
  width: 100vw;
  height: 70vh;
  position: relative;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.overlay-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Search bar container with icon */
.search-container {
  position: relative;
  width: 80%; /* Set the width of the search bar container */
  max-width: 1200px; /* Set the max-width to ensure it doesn't stretch too much */
  margin: 0 auto; /* Center the search container */
  display: flex; /* Use flexbox to align the elements */
  align-items: center; /* Align vertically in the center */
  background-color: #fff; /* Background color for the search bar */
  border-radius: 50px; /* Rounded corners */
  padding: 10px 20px; /* Padding inside the search bar */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for a nice effect */
}

.search-bar {
  border: none;
  outline: none;
  flex-grow: 1; /* This makes the input take up all the space */
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 50px;
}


.search-bar::placeholder {
  color: #999;
}

.search-bar:focus {
  outline: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Position the search icon */
.search-icon {
  background-color: transparent; /* Make the button background transparent */
  border: none; /* Remove border */
  cursor: pointer; /* Make it clickable */
  display: flex; /* Use flexbox to align the icon */
  justify-content: center; /* Center the icon horizontally */
  align-items: center; /* Center the icon vertically */
  color: #ff8c00; /* Set the icon color to orange */
  font-size: 1.8rem; /* Set the icon size */
  padding-left: 15px; /* Add some space between the icon and input */
}

.search-icon:hover {
  color: #e67e00; /* Darker orange on hover */
}

.search-icon img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
